<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gopher Translator</title>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style type="text/css">

        body {
            background-image: url('http://static.simpledesktops.com/uploads/desktops/2019/11/07/feed-me.png');
            background-size: cover;
            background-color: #141414;
            background-position: center;
            background-repeat: no-repeat;
        }

        .container {
            background: none rgba(50, 50, 50, 0.95);
            border-radius: 10px;
            padding: 10px;
        }

        .label {
            width: 27%;

            border-radius: 10px;
            padding: 10px;
            margin: 10px;
        }

        .input, .output {
            width: 43%;
            margin: 1%;
            padding: 1%;
            vertical-align: top;
            min-height: 300px;
            display: inline-block;
            border-radius: 5px;
            border: 3px solid var(--border);
        }


    </style>
</head>
<body>
<div class="container">
    <h1>Gopher translator</h1>

    <form method="post" x-data="init()">
        <h3>Choose your <span style="text-decoration:line-through ">weapon</span> translation! </h3>
        <br/>
        <label class="label" for="type">
            <input x-on:click="history=false;sentence=false" x-model="type" id="type" type="radio" name="type"
                   value="word"/>
            Word
        </label>

        <label class="label" for="sentence">
            <input x-on:click="history=false;word=false" x-model="type" id="sentence" type="radio" name="type"
                   value="sentence"/>
            Sentence
        </label>

        <label class="label" for="history">
            <input x-on:click.prevent="getHistory" x-model="type" id="history" type="radio" name="type"
                   value="history"/>
            History
        </label>

        <br/>


        <template x-if="type == 'word'">
            <div class="word input">
                <h3>Write your word here:</h3>
                <input x-model="input" type="text"/>
                <br/>
                <button x-on:click.prevent="translateWord">
                    Translate!
                </button>
            </div>
        </template>
        <template x-if="type == 'sentence'">
            <div class="sentence input">
                <h3>Write your sentences here:</h3>
                <textarea x-model="input"></textarea>
                <br/>
                <button x-on:click.prevent="translateSentence">
                    Translate!
                </button>
            </div>
        </template>


        <template x-if="!!history && history.length > 0">
            <div class="output" style="width:95%">
                <h3>Your history is:</h3>
                <table>
                    <thead>
                    <tr>
                        <th>English</th>
                        <th>Gopher</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template x-for="(item,i) in history" :key="item">
                        <tr>
                            <td x-text="item.english"></td>
                            <td x-text="item.gopher"></td>
                        </tr>
                    </template>
                    </tbody>
                </table>
                <br/>
            </div>
        </template>
        <template x-if="!!word">
            <div class="output">
                <h3>Your word is:</h3>
                <div x-text="word"></div>
                <br/>
            </div>
        </template>
        <template x-if="!!sentence">
            <div class="output">
                <h3>Your sentences are:</h3>
                <div x-text="sentence"></div>
                <br/>
            </div>
        </template>

    </form>
</div>
<script type="text/javascript">

    const PORT = "{{.EnvPort}}"
    const BASE_URL = "http://0.0.0.0"
    const API_URL = BASE_URL + ':' + PORT

    function init() {
        return {
            type: false,
            word: false,
            sentence: false,
            history: false,
            input: '',
            getHistory() {
                this.type = "history"

                axios.get(`${API_URL}/history`).then((resp) => {
                    this.history = [];
                    this.word = false
                    this.sentence = false
                    resp.data.history.map(el => {
                        console.log(el)
                        this.history.push({
                            english: Object.keys(el)[0],
                            gopher: Object.values(el)[0]
                        })
                    })

                })
            },
            translateSentence() {
                axios.post(`${API_URL}/sentence`, {
                    "english-sentence": this.input
                }).then((resp) => {
                    this.history = false
                    this.word = false
                    this.sentence = resp.data["gopher-sentence"]
                })
            },
            translateWord() {
                axios.post(`${API_URL}/word`, {
                    "english-word": this.input
                }).then((resp) => {
                    this.sentence = false
                    this.history = false
                    this.word = resp.data["gopher-word"]
                })
            }
        }
    }
</script>
</body>
</html>